*{
    margin:0;
    padding:0;
}
a{text-decoration:none;}
a:hover{text-decoration:none;}
li{list-style:none;}
/*  top_header on index.php page start  */
#top_header{
	width:100%;
	height:100vh;
	background-image:url('../image/a.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position:relative;
}

#header_form{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
#header_form form{
    background:#fff;
    padding:15px;
    border-radius:15px;
    width:50%;
}
#header_form form input[type=text]{
    width:50%;
    height:40px;
    border:none;
}
/*  top_header on index.php page start  */